* {
  outline: transparent;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button,
input,
textarea {
  font: inherit inherit;
  border: none;
  background: inherit;
}

button {
  cursor: pointer;
}

.form__btn span,
a,
span {
  display: inline-block;
}

.form__btn span,
a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

._imgFit {
  position: relative;
}

._imgFit img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: var(--fitType);
  object-fit: var(--fitType);
}

body ::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: .5rem;
  background: #f2f2f2;
}

body ::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  width: .4rem;
  border: .1rem solid #f2f2f2;
  background: #a8a8a8;
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  src: url(../fonts/Graphik-Bold.woff2) format("woff2"),url(../fonts/Graphik-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  src: url(../fonts/Graphik-BoldItalic.woff2) format("woff2"),url(../fonts/Graphik-BoldItalic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  src: url(../fonts/Graphik-Regular.woff2) format("woff2"),url(../fonts/Graphik-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  src: url(../fonts/Graphik-Medium.woff2) format("woff2"),url(../fonts/Graphik-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SKODANext;
  font-display: swap;
  src: url(../fonts/SKODANext-Black.woff2) format("woff2"),url(../fonts/SKODANext-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SKODANext;
  font-display: swap;
  src: url(../fonts/SKODANext-Bold.woff2) format("woff2"),url(../fonts/SKODANext-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  src: url(../fonts/Graphik-Semibold.woff2) format("woff2"),url(../fonts/Graphik-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SKODANext;
  font-display: swap;
  src: url(../fonts/SKODANext-Regular.woff2) format("woff2"),url(../fonts/SKODANext-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding,201px);
}

body {
  font: 400 16px Graphik,sans-serif;
  position: relative;
}

body._lock,
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

[class*=__container] {
  --max-width: 1260px;
  --padding: 20px;
  width: min(100% - var(--padding),var(--max-width));
  margin-inline: auto;
}

[class*=__container][data-type=trust] {
  --max-width: 1011px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 20px 0 0;
  z-index: 11;
}

.header__logo {
  width: 104px;
  height: 93px;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width:768px) {
  .header__content {
    padding: 10px 0 0;
  }

  .header__logo {
    width: 90px;
  }
}

.header__lang {
  z-index: 1;
}

.lang {
  position: relative;
  width: 75px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  background: #8b8fff;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
}

.lang__content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 17px;
}

.lang__link-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  padding: 0 0 5px;
}

.lang__link-current svg {
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.lang__link-current._active svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lang__list {
  position: absolute;
  top: calc(100% - 12px);
  left: 0;
  width: 75px;
  border-radius: 0 0 15px 15px;
  background: #8b8fff;
  padding: 10px 17px;
}

.lang__item:not(:last-child) {
  padding: 0 0 5px;
}

.lang__link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer {
  background: #255d5a;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  padding: 17px 0;
}

.footer__content img {
  max-width: 100%;
}

.footer__content .form__btn span,
.footer__content a,
.form__btn .footer__content span {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255,255,255,.8);
}

.footer__content .form__btn span:before,
.footer__content a:before,
.form__btn .footer__content span:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #fff;
  margin-inline: auto;
  z-index: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

@media (max-width:640px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 27px 0 20px;
  }

  .footer__content img {
    margin: 0 0 35px;
  }

  .footer__content .form__btn span:not(:last-child),
  .footer__content a:not(:last-child),
  .form__btn .footer__content span:not(:last-child) {
    margin: 0 0 20px;
  }
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 98px;
}

@media (max-width:768px) {
  .footer__content {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .intro__content {
    padding-bottom: 50px;
  }
}

@media (max-width:640px) {
  .intro__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: normal;
    padding: 40px 0;
  }
}

.intro__left {
  position: relative;
  padding: 50px 0 34px;
}

.intro__left:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 320px;
  height: 2px;
  background: #8b8fff;
}

.intro__title {
  max-width: 705px;
  width: 100%;
  font-size: 55px;
  line-height: 71.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 54px;
}

@media (max-width:1260px) {
  .intro__title {
    font-size: calc(30px + 25 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 32.5 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:1366px) {
  .intro__title {
    max-width: 450px;
    font-size: 32px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .intro__title {
    max-width: calc(450px + 255 * (100vw - 768px)/ 598);
    font-size: calc(32px + 23 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .intro__title {
    max-width: 705px;
    font-size: 55px;
  }
}

@media (max-width:640px) {
  .intro__left:before {
    content: none;
  }

  .intro__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0;
  }

  .intro__title {
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px;
  }
}

.form__btn,
.intro__btn {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #8b8fff;
  -webkit-filter: drop-shadow(0 0 28px rgba(30, 30, 30, .2));
  filter: drop-shadow(0 0 28px rgba(30, 30, 30, .2));
  padding: 22px 50px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.form__btn svg,
.intro__btn svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.form__btn a,
.form__btn span,
.intro__btn a {
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}

@media (any-hover:hover) {
  .footer__content .form__btn span:hover:before,
  .footer__content a:hover:before,
  .form__btn .footer__content span:hover:before {
    width: 100%;
  }

  .form__btn:hover,
  .intro__btn:hover {
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    background: #4f95da;
  }

  .form__btn:hover svg,
  .intro__btn:hover svg {
    stroke-dashoffset: -480;
  }
}

@media (max-width:768px) {
  .intro__title {
    line-height: 35px;
  }

  .form__btn,
  .intro__btn {
    font-size: 20px;
    padding: 15px 25px;
  }
}

.intro__right {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro__right:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 474px;
  height: 474px;
  border-radius: 474px;
  -webkit-filter: blur(308px);
  filter: blur(308px);
  background: #8b8fff;
  z-index: -1;
}

.intro__img {
  position: absolute;
  right: -38px;
  bottom: 0;
  width: 664px;
  height: 492px;
  z-index: 1;
}

.intro__img img {
  max-width: 100%;
}

.greeting {
  background: #fff;
}

.greeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 62px 0 144px;
}

.greeting__title {
  max-width: 1160px;
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 69px;
}

@media (max-width:1260px) {
  .greeting__title {
    font-size: calc(30px + 15 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 15 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:1366px) {
  .intro__img {
    width: 400px;
    height: 288px;
    right: -25px;
  }

  .greeting__title {
    font-size: 32px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .intro__img {
    width: calc(400px + 264 * (100vw - 768px)/ 598);
    height: calc(288px + 204 * (100vw - 768px)/ 598);
    right: calc(-25px + -13 * (100vw - 768px)/ 598);
  }

  .greeting__title {
    font-size: calc(32px + 13 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .intro__img {
    width: 664px;
    height: 492px;
    right: -38px;
  }

  .greeting__title {
    font-size: 45px;
  }
}

@media (max-width:768px) {
  .greeting__content {
    padding: 50px 0;
  }

  .greeting__title {
    margin: 0 0 50px;
  }
}

.greeting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 70px 30px;
  counter-reset: list-mobile-counter;
}

.greeting__body li {
  position: relative;
  width: calc(33.3333333333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

@media (max-width:1024px) {
  .greeting__body li {
    width: calc(50% - 30px);
  }

  .greeting__body {
    gap: 30px;
  }
}

@media (max-width:640px) {
  .intro__img {
    position: static;
    width: 100%;
  }

  .greeting__content {
    padding: 40px 0 144px;
  }

  .greeting__title {
    font-size: 29px;
    margin: 0 0 20px;
  }

  .greeting__body li {
    width: calc(100% - 30px);
    padding: 40px 0 0;
  }
}

.greeting__body li span {
  position: absolute;
  top: 0;
}

.greeting__body li span:before {
  position: absolute;
  counter-increment: list-mobile-counter;
  content: counter(list-mobile-counter);
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  line-height: 39px;
  color: #000;
}

@media (min-width:640px) {
  .greeting__body li span {
    display: none;
  }
}

.greeting__item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background: #242a31;
  -webkit-filter: drop-shadow(0 6px 8px rgba(0, 0, 0, .57));
  filter: drop-shadow(0 6px 8px rgba(0, 0, 0, .57));
  padding: 25px 50px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.greeting__item:after,
.greeting__item:before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  -webkit-filter: blur(36px);
  filter: blur(36px);
  z-index: -1;
}

.greeting__item:before {
  left: -35px;
  bottom: -35px;
  background: #2a807b;
}

.greeting__item:after {
  top: -35px;
  right: -35px;
  background: #576890;
}

.greeting__item p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}

@media (max-width:768px) {
  .greeting__item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width:320px) {
  .greeting__body li {
    width: 100%;
  }

  .greeting__item {
    padding-left: 0;
    padding-right: 0;
  }
}

.happy {
  background: #245b58;
}

.happy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
  padding: 76px 0 70px;
}

.happy__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
}

.happy__header-left {
  position: relative;
}

.happy__header-left:before {
  position: absolute;
  content: "";
  top: 100%;
  left: -355%;
  width: 500%;
  height: 1px;
  background: #8b8fff;
  z-index: 0;
}

.happy__header-img {
  position: relative;
}

.happy__header-img img:not(.happy__header-img-bg) {
  position: relative;
  max-width: 100%;
  z-index: 1;
}

.happy__header-img-bg {
  position: absolute;
  top: 65px;
  right: 28px;
  z-index: 0;
}

.happy__title {
  max-width: 835px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px;
}

@media (max-width:1260px) {
  .happy__title {
    font-size: calc(30px + 5 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 3 * ((100vw - 320px)/ 940));
  }
}

.happy__title span {
  display: inline;
  color: #8b8fff;
}

@media (max-width:1366px) {
  .happy__title {
    font-size: 22px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .happy__title {
    font-size: calc(22px + 13 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .happy__title {
    font-size: 35px;
  }
}

@media (max-width:768px) {
  .happy__content {
    padding: 50px 0;
  }

  .happy__header {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .happy__title {
    line-height: 35px;
    margin: 0 0 15px;
  }
}

@media (max-width:640px) {
  .greeting__item {
    width: 92%;
  }

  .happy__content {
    row-gap: 80px;
    padding: 0 0 40px;
  }

  .happy__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .happy__header-left:before {
    content: unset;
  }

  .happy__header-img img:not(.happy__header-img-bg) {
    top: -40px;
  }

  .happy__title {
    font-size: 32px;
    line-height: 44px;
  }
}

.happy__header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 0 0;
}

.happy__header-inner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 2px;
  background: #8b8fff;
  z-index: 0;
}

.happy__header-inner h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width:768px) {
  .happy__header-inner h4 {
    font-size: 20px;
  }
}

@media (max-width:640px) {
  .happy__header-inner h4 {
    font-size: 24px;
  }
}

@media (max-width:320px) {
  .happy__title {
    font-size: 30px;
  }

  .happy__header-inner h4 {
    font-size: 22px;
  }
}

.happy__header-inner span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.happy__header-inner img {
  position: absolute;
  top: 30px;
  right: 0;
}

.happy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 99px;
  -moz-column-gap: 99px;
  column-gap: 99px;
}

@media (max-width:1024px) {
  .happy__body {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

@media (max-width:768px) {
  .happy__header-inner span {
    font-size: 16px;
  }

  .happy__header-inner img {
    top: 15px;
    width: 150px;
  }

  .happy__header-inner {
    row-gap: normal;
    padding: 15px 0 0;
  }

  .happy__body {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width:640px) {
  .happy__header-inner span {
    font-size: 20px;
  }

  .happy__header-inner img {
    display: none;
  }

  .happy__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.happy__left {
  max-width: 534px;
}

@media (max-width:1024px) {
  .happy__left {
    max-width: 420px;
  }
}

.happy__left h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  text-transform: uppercase;
  color: #8b8fff;
  margin: 0 0 36px;
}

@media (max-width:1260px) {
  .happy__left h3 {
    font-size: calc(30px + 15 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 15 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:1366px) {
  .happy__left h3 {
    font-size: 22px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .happy__left h3 {
    font-size: calc(22px + 23 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .happy__left h3 {
    font-size: 45px;
  }
}

@media (max-width:640px) {
  .happy__left h3 {
    font-size: 30px;
  }

  .happy__left {
    margin: 0 0 20px;
  }
}

.happy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

.happy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.happy__item-text {
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width:768px) {
  .happy__left {
    max-width: 325px;
  }

  .happy__left h3 {
    margin: 0 0 15px;
  }

  .happy__list {
    row-gap: 10px;
  }

  .happy__item-text {
    font-size: 18px;
  }
}

@media (max-width:640px) {
  .happy__item-text {
    font-size: 20px;
  }
}

@media (max-width:320px) {
  .happy__left h3 {
    font-size: 28px;
  }

  .happy__item-text {
    font-size: 16px;
  }
}

.happy__right {
  position: relative;
}

.happy__right p {
  max-width: 520px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

@media (max-width:768px) {
  .happy__right p {
    font-size: 17px;
  }
}

@media (max-width:640px) {
  .happy__right p {
    font-size: 16px;
  }

  .happy__right {
    padding: 40px 0 0;
  }
}

.happy__right-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0 74px;
}

@media (max-width:768px) {
  .clients__content {
    padding: 50px 0;
  }
}

@media (max-width:640px) {
  .clients__content {
    padding: 80px 0 40px;
  }
}

.clients__header {
  margin: 0 0 40px;
}

@media (max-width:768px) {
  .clients__header {
    margin: 0 0 15px;
  }
}

.clients__title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:1260px) {
  .clients__title {
    font-size: calc(30px + 15 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 15 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:1366px) {
  .clients__title {
    font-size: 32px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .clients__title {
    font-size: calc(32px + 13 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .clients__title {
    font-size: 45px;
  }
}

@media (max-width:320px) {
  .clients__title {
    font-size: 30px;
  }
}

.clients__body {
  position: relative;
  width: 100%;
}

.button-prev {
  left: -40px;
}

.button-next {
  right: -40px;
}

@media (max-width:1365px) {
  .button-prev {
    left: 0;
    z-index: 1;
  }

  .button-next {
    right: 0;
    z-index: 1;
  }
}

.button-next,
.button-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  background: #3e3e3e;
  margin-block: auto;
}

.button-next svg,
.button-prev svg {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

@media (any-hover:hover) {
  .button-next:hover svg,
  .button-prev:hover svg {
    -webkit-filter: drop-shadow(0 0 10px #8b8fff);
    filter: drop-shadow(0 0 10px #8b8fff);
    overflow: visible;
  }

  .form__input[type=tel]:hover + .form__label,
  .form__input[type=tel]:hover ~ .form__label {
    top: 0;
    font-size: 10px;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.started__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 99px;
  -moz-column-gap: 99px;
  column-gap: 99px;
  padding: 74px 0 100px;
}

.started__left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.started__title {
  max-width: 525px;
  width: 100%;
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 50px;
}

@media (max-width:1260px) {
  .started__title {
    font-size: calc(30px + 15 * ((100vw - 320px)/ 940));
    line-height: calc(39px + 15 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:768px) {
  .started__content {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    padding: 50px 0;
  }

  .started__title {
    line-height: 35px;
    margin: 0 0 40px;
  }
}

@media (max-width:640px) {
  .started__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
  }

  .started__title {
    margin: 0 0 20px;
  }
}

.started__images {
  position: relative;
  width: 495px;
  height: 393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #272e38;
  background: #272e38;
  padding: 26px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

.started__images:after,
.started__images:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
}

.started__images:before {
  left: -20px;
  bottom: -20px;
  background: #2a807b;
  -webkit-filter: blur(36px);
  filter: blur(36px);
}

.started__images:after {
  top: -20px;
  right: -20px;
  background: #576890;
  -webkit-filter: blur(42px);
  filter: blur(42px);
}

@media (max-width:1366px) {
  .started__title {
    font-size: 32px;
  }

  .started__images {
    width: 350px;
    height: 350px;
  }
}

@media (max-width:1366px) and (min-width:768px) {
  .started__title {
    font-size: calc(32px + 23 * (100vw - 768px)/ 598);
  }

  .started__images {
    width: calc(350px + 145 * (100vw - 768px)/ 598);
    height: calc(350px + 43 * (100vw - 768px)/ 598);
  }
}

@media (max-width:1366px) and (min-width:1366px) {
  .started__title {
    font-size: 55px;
  }

  .started__images {
    width: 495px;
    height: 393px;
  }
}

@media (max-width:640px) {
  .started__images {
    display: none;
  }
}

.started__images-top {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}

.started__images-img {
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}

.started__images-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}

.started__list {
  max-width: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 44px;
  counter-reset: list;
}

.started__item {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  counter-increment: list-counter;
}

.started__item span {
  position: relative;
  min-width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #3e3e3e;
}

.started__item span:before {
  position: absolute;
  content: counter(list-counter);
  font-size: 45px;
  line-height: 67.5px;
  font-style: italic;
  font-weight: 700;
  color: #8b8fff;
}

.started__item p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

@media (max-width:320px) {
  .started__title {
    font-size: 30px;
  }

  .started__item p {
    line-height: 22px;
  }
}

.request__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0 97px;
}

@media (max-width:768px) {
  .started__item {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .started__item span:before {
    font-size: 35px;
  }

  .started__item span {
    min-width: 50px;
    height: 50px;
  }

  .started__item p {
    font-size: 20px;
  }

  .request__content {
    padding: 50px 0;
  }
}

.request__title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px;
}

@media (max-width:1260px) {
  .request__title {
    font-size: calc(30px + 15 * ((100vw - 320px)/ 940));
  }
}

@media (max-width:640px) {
  .started__list {
    row-gap: 20px;
  }

  .started__item span:before {
    font-size: 26px;
  }

  .started__item span {
    min-width: 40px;
    height: 40px;
  }

  .started__item p {
    font-size: 16px;
  }

  .request__content {
    padding: 40px 0 52px;
  }

  .request__title {
    margin: 0 0 20px;
  }
}

.request__body {
  width: 100%;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 30px;
}

.form__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.form__header .form__item {
  width: calc(50% - 15px);
}

@media (max-width:640px) {
  .form__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form__header .form__item {
    width: 100%;
  }
}

.form__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.form__body .form__item {
  width: 100%;
}

.form__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.form__footer .form__item {
  width: calc(50% - 15px);
}

.form__item {
  position: relative;
  mix-blend-mode: difference;
}

.form__item div.error {
  font: 12px inherit;
  position: absolute;
  left: 10px;
  bottom: -20px;
  color: #dc3545;
  padding: 0 5px;
  z-index: 1;
}

.form__label {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

@media (max-width:380px) {
  .form,
  .form__body,
  .form__footer,
  .form__header {
    row-gap: 20px;
  }

  .form__label {
    top: 15px;
    left: 10px;
    font-size: 12px;
  }
}

.form__input {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #2f7b79;
  background: #272e38;
  padding: 18px 20px;
}

.form__input:focus {
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.form__input.error {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background: right calc(.375em + .1875rem) center/calc(.75em + .375rem) calc(.75em + .375rem) no-repeat,#272e38;
}

.form__input.error:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 .25rem rgba(220,53,69,.25);
  box-shadow: 0 0 0 .25rem rgba(220,53,69,.25);
}

.form__input.success {
  border-color: #198754;
  padding-right: calc(1.5em + .75rem);
  background: right calc(.375em + .1875rem) center/calc(.75em + .375rem) calc(.75em + .375rem) no-repeat,#272e38;
}

.form__input.success:focus {
  border-color: #198754;
  -webkit-box-shadow: 0 0 0 .25rem rgba(25,135,84,.25);
  box-shadow: 0 0 0 .25rem rgba(25,135,84,.25);
}

@media (max-width:380px) {
  .form__input {
    padding: 15px 10px;
  }
}

.form__item-note {
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(0,0,0,.68);
  padding: 5px 0 0;
}

.form__input:focus + .form__label,
.form__input:valid ~ .form__label {
  top: 0;
  font-size: 10px;
}

@media (max-width:640px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form__footer .form__item {
    width: 100%;
  }

  .form__input#clients,
  .form__input#percentage {
    padding: 30px 20px;
  }
}

@media (max-width:380px) {
  .form__item-note {
    font-size: 12px;
  }

  .form__input#clients,
  .form__input#percentage {
    padding: 15px 10px;
  }
}

/*# sourceMappingURL=maps/index.css.map */
/*# sourceMappingURL=index.css.map */
